<h1>Login</h1>

<%= form_with(scope: :session, path: login_path, local: true) do |f| %>
  <p>
    <%= f.label :email %> <br>
    <%= f.email_field :email %>
  </p>
  <p>
    <%= f.label :password %> <br>
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.submit "Log In" %>
  </p>
<% end %>

<p> <%= link_to('Article Page', articles_path) %> </p>