<h1>Create a Category</h1>
<%= render 'shared/errors', err_obj: @category %>
<%= form_with(model: @category, local: true) do |f| %>
  <p>
    <%= f.label :name %> <br>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit("Create") %>
  </p>
<% end %>
